body {
  color: black
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: purple;
}

li a .active {
  background-color: #04AA6D;
color: purple
}

aside {
  width: 15%;
  padding-left: 15px;
  padding-top: 5px;
  margin-top: 5px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: #333;
}